/*----------------------------------------------------------------------------------------
heading.scss
----------------------------------------------------------------------------------------*/

.c-section-heading {
    position: relative;
    z-index: 10;


    h2 {
        font-weight: 900;
        color: #00b900;
    }


}

@media screen and (min-width:769px) {
.c-section-heading{

    h2{
        font-size: clamp(5.5rem, 4.367rem + 1.476vw, 7.2rem);
    }
    padding-bottom: 6%;
    margin-top: -45px;
    p {
        font-size: clamp(2rem, 1.733rem + 0.347vw, 2.4rem);
        margin-top: 15px;
        font-weight: 700;
    }

}
}
@media screen and (max-width:768px) {
    .c-section-heading{
        text-align: center;
        padding-bottom: 15%;
        margin-top: -7%;
        h2{
            font-size: clamp(3.4rem, -0.226rem + 9.669vw, 7.2rem);
        }
        p{
            font-size: clamp(1.4rem, -0.318rem + 4.58vw, 3.2rem);
            margin-top: 3%;
        }
    }
}

@media screen and (min-width:481px) {

}
@media screen and (max-width:480px) {

}

